body > * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    color: red;
}

table {
    border-collapse: collapse;
	width: 25%;
}

table, td, th {
    border:  solid blue;
	text-align: center;
    vertical-align: middle;
	width: 25%;
	font: bold 40px sans-serif;
	padding: 15px;
}

td {
    height: 50px;
}